@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    transition-duration: 100ms;
}

@media (min-width: 760px) {
    .shadow {
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }

    .shadow-hover:hover {
        box-shadow: blue 0px 10px 50px;
    }
}
